

.trusted-brands p{
    font-size: 1.6rem;
}

.trusted-brands .brand-logoSlider {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: var(--spacing-medium);
    flex-wrap: wrap;
    max-width: 80%;
    margin: 2rem auto 0;
}

.trusted-brands img {
    width: auto;
}

.bottleneck {
    padding: 7.6rem 0;
    background-color: var(--light-background);
    text-align: center;
}

.bottleneck__title {
    font-size: 4rem;
    margin-bottom: var(--spacing-small);
}

.bottleneck__title strong{
    color: var(--text-color);
}

.bottleneck__title span{
    color: var(--error-color);
}

.bottleneck__description {
    font-size: 1.8rem;
    max-width: 900px;
    margin: 2.2rem auto 6.5rem;
    line-height: 1.3;
}

.bottleneck__boxes {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2.2rem;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 1231px;
    margin-inline: auto;
}

.bottleneck__boxes .box {
    background-color: var(--white);
    border-radius: 0.8rem;
    border: solid 1px #DBDBDB;
    text-align: left;
}

.bottleneck__boxes .box__title {
    position: relative;
    font-size: 2rem;
    padding: 1.2rem 2.2rem 1.4rem;
    font-weight: 700;
    border-bottom: solid 1px #DBDBDB;
    margin: 0;
    display: flex;
    gap: 1.7rem;
    align-items: center;
}

.bottleneck__boxes .box__title::before{
    content: "";
    display: inline-block;
    width: 24px;
    height: 25px;
    background: url(../images/icon-quote.png) center no-repeat;
}

.bottleneck__boxes .box__description{
    padding: 1.6rem 2.4rem;
    font-weight: 400;
    font-size: 1.8rem;
    margin: 0;
    line-height: 1.3;
}

.platform {
    padding: 8.1rem 0;
    text-align: center;
    background: url(../images/bg1.png) center 25% no-repeat;
    background-size: contain;
}

.platform__title {
    font-size: 4rem;
}

.platform__title strong{
    color: var(--green);
}

.platform__description {
    max-width: 970px;
    margin: 0 auto 4.8rem;
    font-size: 1.8rem;
    line-height: 1.35;
}

.platform__buttons {
    display: flex;
    justify-content: center;
    gap: var(--spacing-small);
}

.platform__image{
    margin-bottom: 1.2rem;
    padding: 2rem;
    margin-inline: auto;
    max-width: 1103px;
}

.tab-links {
  display: flex;
  list-style: none;
  justify-content: center;
  gap: 0.7rem;
  margin-bottom: 2rem;
}

.tab-links a{
    color: var(--text-color);
    text-decoration: none;
    display: block;
    padding: 1rem 0.8rem;
    font-size: 1.9rem;
    font-weight: 500;
    line-height: 1;
    border-bottom: solid 3px transparent;
    border-radius: 6px 6px 0 0;
    transition: all 0.3s ease;
}

.tab-links .active a{
    background-color: var(--background-color);
    border-color: var(--secondary-color);
    font-weight: 600;
    padding: 1rem 1.3rem;
}

.tab-content .tab {
  display: none;
}

.tab-content .active {
  display: block;
}

.tab-content p{
    font-size: 1.8rem;
    margin-bottom: 1.5rem;
}

.how-works {
    padding: 5rem 0;
}

.how-works__title {
    text-align: center;
    margin-bottom: 4.45rem;
}

.how-works__steps {
    display: flex;
    flex-direction: column;
    gap: 9.6rem;
    margin-bottom: 5.6rem;
    background: url(../images/bg2.png) center top no-repeat, 
     url(../images/bg2.png) center 47% no-repeat,  
     url(../images/bg2.png) center 95% no-repeat;
}

.step {
    display: flex;
    position: relative;
    gap: 5rem 9.1vw;
}

.step__number {
    font-size: 2rem;
    color: var(--white);
    background-color: var(--primary-color);
    font-weight: 400;
    height: 4.8rem;
    width: 4.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin-bottom: 2rem;
}

.step__content {
    padding: 0 8.1%;
    width: 45.8%;
}

.step__title {
    font-size: 3.2rem;
    margin-bottom: 1.2rem;
}

.step__description{
    font-size: 1.8rem;
    line-height: 1.4;
    max-width: 350px;
}

.step__image{
    flex: 1;
    display: flex;
    align-items: center;
    /* padding: 2.4rem; */
}
.imgWrapper{
 box-shadow: var(--box-shadow);
 border-radius: 1.4rem;
 overflow: hidden;
}

.imgWrapper img{
    display: block;
}

.step__divider{
    width: 30px;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 400;
    position: absolute;
    left: 45.8%;
    top: 0;
    height: 100%;
}

.step__divider::after{
    content: "";
    position: absolute;
    left: 50%;
    bottom: 7px;
    border: solid 1px #9A9A9B;
    height: calc(100% - 49px);
}

.bottom-button{
    display: flex;
    justify-content: center;
    padding-right: 7rem;
}

.features {
    padding: 7.2rem 0;
    text-align: center;
}

.features__title {
    margin-bottom: 2.1rem;
}

.features__title strong{
    color: var(--text-color);
}

.features__subtitle {
    font-size: 1.8rem;
}

.features__grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2.3rem 2.5rem;
    margin: 0 -1.2rem;
    padding-top: 3.3rem;
}

.feature {
    padding: 2.3rem;
    border-radius: 0.8rem;
    text-align: center;
    border: solid 1px #ECECEC;
}

.feature .feature__image {
    margin-bottom: 3.1rem;
}

.feature__title {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 1.2rem;
}
.feature__description{
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1.3;
    margin: 0;
}

.standards {
    padding: 4.3rem 0;
    text-align: center;
}

.standards__title {
    letter-spacing: 0.2rem;
}
.standards__title .title-icon{
    margin-right: 1rem;
 }

.standards__description {
    max-width: 940px;
    margin: 0 auto 4.1rem;
    font-size: 1.8rem;
    line-height: 1.3;
}

.standards .button--primary{
    font-size: 1.5rem;
}

.team {
    padding: 5.7rem 0;
    text-align: center;
}

.team__title {
    margin-bottom: 3.5rem;
}

.team__members {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 3rem;
    /* justify-content: space-between; */
    /* flex-wrap: wrap; */
    max-width: 1258px;
    margin-inline: auto;
}

.member {
    /* max-width: 300px; */
    text-align: center;
}
.member__image{
    margin-bottom: 2.2rem;
}
.member__image img {
    display: inline-block;
    border-radius: 50%;
    aspect-ratio: 1/1;
    max-width: 191px;
}

.member__title {
    font-size: 2.5rem;
    margin-bottom: 0.8rem;
}

.member__description{
    max-width: 270px;
    margin: 0 auto;
}

.impact {
    padding: 4.8rem 0;
    text-align: center;
}

.impact__title {
}

.impact__subtitle {
    font-size: 1.8rem;
    margin-bottom: 3rem;
}

.impact__stats {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));    
    gap: 3rem;
    justify-content: center;
}

.stat {
    flex: 1;
    min-height: 160px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.stat:nth-child(2) {
    border-left: solid 1px #9A9A9B;
    border-right: solid 1px #9A9A9B;
}

.stat__value {
    font-size: 4.4rem;
    font-weight: 500;
    margin: 1.8rem 0 0.8rem;
}

.stat p{
    margin: 0;
    font-size: 1.8rem;
}

.testimonial-block{
    padding: 13.8rem 4.5rem 7.2rem;
}
.testimonial {
    /* text-align: left;
    padding: 1.3rem; */
    top: -2px;;
    border: solid 1px #DBDBDB;
    border-radius: 1rem;
}

.testimonial img {
}

.testimonial__item {
    display: flex;
    gap: 2rem;
    padding: 2.4rem;
    align-items: center;
    position: relative;
    /* top: -2px; */
}

.testimonial__author-image{
    background-color: var(--background-color);
    border-radius: 1rem;
    overflow: hidden;
}
.testimonial__author-image img{display: block;}

.testimonial__content{
    border: solid 1px #DBDBDB;
    border-radius: 1rem;
    flex: 1;
}

.testimonial__author-info{
    padding: 1.6rem 1.6rem 1.5rem;
    border-bottom: solid 1px #DBDBDB;
}

.testimonial__author-name{
    margin: 0;
    font-size: 2.5rem;
    font-weight: 500;
    line-height: 1.35;
}

.testimonial__author-position{
    font-size: 1.5rem;
    font-weight: 400;
    color: #5C6A72;
}

.testimonial__quote{
    padding: 1.5rem 1.6rem 1.3rem;
    margin: 0;
    font-size: 1.8rem;
    font-weight: 500;
}

.security {
    padding: 4rem 0;
    text-align: center;
}

.security__title {
    font-size: 4.2rem;
    margin-bottom: 1.5rem;
}

.security__title strong{
    color: var(--text-color);
}

.security__description {
    max-width: 828px;
    margin: 0 auto 3.8rem;
    font-size: 1.8rem;
    line-height: 1.4;
}

.security .button--bordered{
    padding: 1.27rem 2.4rem;
}

.security .button-wrapper{
    margin-bottom: 3.8rem;
}

.pilot {
    padding: 8rem 0 5.7rem;
    background-color: var(--light-background);
}

.pilot__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1230px;
}

.pilot__content{
    max-width: 510px;
}

.pilot__title {
    font-size: 4.4rem;
    margin-bottom: 1.2rem;
}

.pilot__title strong{
    font-size: 4rem;
    color: var(--text-color);
}

.pilot__description {
    font-size: 1.87rem;
    line-height: 1.2;
}

.pilot__cta .button{
    position: relative;
    top: -1rem;
    padding: 1.4rem 2.4rem;
}

.success-criteria {
    padding: 6.4rem 0 0;
}
.success-criteria .container{
    max-width: 1311px;
}

.success-criteria__boxes {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    justify-content: space-between;
    gap: 4rem 9.2rem;
}

.success-criteria__boxes .box{
    display: flex;
    gap: 12px;
}

.success-criteria__boxes .box__image{
    width: 67px;
    margin-top: 0.6rem;
}

.success-criteria__boxes .box__image *{display: block;}

.success-criteria__boxes .box__content{
    flex: 1;
}
.success-criteria__boxes .box__title{
    line-height: 1;
    text-transform: uppercase;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.success-criteria__boxes .box__description{
    line-height: 1.3;
}

.faq {
    padding: 8rem 0;
}
.faq__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3rem;
}

.faq__items {
    width: 100%;
    max-width: 556px;
}

.faq__item {
    border: solid 3px #f2f2f2;
    border-radius: 1rem;
    overflow: hidden;
    margin-bottom: 1.6rem;
    background-color: var(--white);
}

.faq__item:last-child{
    margin-bottom: 0;
}

.faq__item button{
    border: 0 none;
    background: var(--white);
    display: block;
    padding: 2rem 2.5rem;
    font-size: 1.7rem;
    font-weight: 500;
    width: 100%;
    text-align: left;
    cursor: pointer;
    color: var(--text-color);
    transition: all 0.3s ease;
}

.faq__item h3[aria-expanded="true"]  button{
    background-color: #F9F9F9;
}

.faq__question {
    position: relative;
    margin: 0;
}

.faq__answer {
    display: none;
    padding: 1.5rem 2.4rem 2.2rem;
}

.faq__answer p{
    font-size: 1.4rem;
    color: #808080;
    font-weight: 400;
}
.faq__answer p:last-child{
    margin-bottom: 0;
}

.faq__image{
    margin: 3.6rem 8rem 0 0;
}

.cta {
    padding: 6rem 0 4.2rem;
    background-color: var(--primary-color);
    color: var(--background-color);
}

.cta__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cta__title {
    max-width: 520px;
    font-size: 4.4rem;
    line-height: 1.35;
    margin-bottom: 1.2rem;
}

.cta__description {
    font-size: 1.88rem;
}

.cta__actions{
    display: flex;
    gap: 2.3rem;
    margin-top: -2rem;
    margin-right: 0.2rem;
    flex-wrap: wrap;
}

.cta .button { 
    padding: 1.2rem 2.5rem;
}

.cta .button--primary {
    background-color: var(--background-color);
    color: var(--primary-color);
}

.cta .button--primary:hover {
    background-color: #f8f9fa;
}

.footer-top {
    padding: 4.5rem 0 3.1rem;
}

.footer .container {
    display: flex;
}

.markets-title{
    width: 196px;
    padding-right: 2%;
}
.markets-title h3{
    font-size: 2.05rem;
    font-weight: 500;
    line-height: 1.4;
    margin: 0;
}
.markets-title a{
    text-decoration: underline;
    font-weight: 500;
}
.markets-list{
    display: flex;
    flex: 1;
    justify-content: space-around;
    width: 196px;
}
.market-icon{
    display: flex;
}
.list-item strong{
    display: block;
    text-align: center;
    line-height: 1;
    font-size: 1.8rem;
    font-weight: 500;
}

.footer-middle{
    padding: 3rem 0 2.2rem;
    border-top: solid 1px #DBDBDB;
    border-bottom: solid 1px #DBDBDB;
}

.footer-middle .container{
    justify-content: space-between;
}

.footer-middle .col{
    max-width: 177px;
    width: 100%;
}

.footer-middle h4{
    font-size: 1.54rem;
    margin-bottom: 1.5rem;
    font-weight: 600;
}
.footer-middle li {
    margin-bottom: 2rem;
}
.footer-middle li a{
    font-size: 1.4rem;
    display: block;
    font-weight: 300;
    line-height: 1.35;
}

.footer-bottom{
    padding: 3rem 0;
}
.footer-bottom .container:last-child{
    padding-top: 3rem;
    text-align: center;
}

.footer-bottom .container:last-child p{
    font-size: 1.2rem;
    line-height: 2;
}

.footer .container{
    justify-content: space-between;
}
.footer__logo img{
    display: block;
}

.footer__nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 3.1rem;
}

.footer__nav a {
    color: var(--text-color);
    text-decoration: underline;
    font-size: 1.8rem;
    font-weight: 500;
    padding-block: 0.9rem;
    display: block;
}

.footer__nav a:hover {
    text-decoration: none;
}

/* Slider */
.slick-slider
{
    position: relative;

    display: block;
    box-sizing: border-box;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;

    display: block;
    margin-left: auto;
    margin-right: auto;
}
.slick-track:before,
.slick-track:after
{
    display: table;

    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;

    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: flex;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;
    height: auto;
    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}

.slick-arrows-wrapper{
    position: absolute;
    z-index: 10;
    right: 5.7rem;
    top: 0;
    transform: translateY(-50%);
    background-color: var(--white);
    padding-inline: 2rem;
    display: flex;
    gap: 1rem;
}

.slick-arrows-wrapper .slick-arrow{
    height: 66px;
    width: 66px;
    overflow: hidden;
    font-size: 0;
    background: url(../images/blackArrow-right.png) no-repeat;
    border: 0 none;
    cursor: pointer;
}

.slick-arrows-wrapper .slick-arrow.slick-prev{
    background-image: url(../images/blackArrow-left.png);
}

/* Hide the mobile menu button on desktop */
.menu-btn {
  display: none;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
  width: 30px;
  height: 25px;
  background: none;
  border: none;
  cursor: pointer;
  z-index: 1100;
}

.menu-btn span {
  display: block;
  height: 3px;
  width: 100%;
  background: #333;
  border-radius: 3px;
  transition: all 0.3s ease;
}

/* Hamburger animation */
.menu-btn.active span:nth-child(1) {
  transform: rotate(40deg) translate(5px, 6px);
}

.menu-btn.active span:nth-child(2) {
  opacity: 0;
}

.menu-btn.active span:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -6px);
}


/* Simple fade animation */
@keyframes fadeIn {
  from { opacity: 0; transform: translateY(-10px); }
  to { opacity: 1; transform: translateY(0); }
}

/* Responsiveness */
@media (max-width: 992px) {

    .hero__buttons,
    .platform__buttons,
    .how-works__intro,
    .team__members{
        flex-direction: column;
    }

    .how-works__intro img,
    .step img {
        max-width: 100%;
    }

    .menu-btn {
    display: flex;
  }

  .header__nav {
    position: fixed;
    top: 64px;
    left: 0;
    width: 100%;
    height: calc(100vh - 64px);
    background: #fff;
    display: none;
    flex-direction: column;
    align-items: normal;
    justify-content: start;
    gap: 0;
    transition: all 0.4s ease;
  }

  .header__nav.open {
    display: flex;
    animation: fadeIn 0.3s ease forwards;
  }

  .header__nav .header__menu{
    flex-direction: column;
    gap: 2rem;
    flex: 1;
    justify-content:center;
  }

  .header__menu li a,
  .header__links li a {
    font-size: 2.3rem;
  }

  body.menu-open {
    overflow: hidden; /* Prevent background scroll */
  }

.header__nav .header__links{
    padding: 2rem;
    justify-content: space-between;
    flex-wrap: wrap;
}

.header__nav .header__links > li{
    flex: 1;
}

.header__nav .header__links > li:first-child{
    min-width: 100%;
    display: flex;
    justify-content: flex-end;
}

.custom-select .options{
    bottom: calc(100% + 6px);
    top: auto;
}

.header__nav .header__links .button{
    display: block;
    text-align: center;
}

.hero__buttons{
    max-width: 340px;
    margin-inline: auto;
}

}


@media (max-width: 767px) {
    .step__content{
        width: 100%;
    }
    .step,
    .impact__stats{
        flex-direction: column;
    }

    .step__divider{display: none;}

    .stat:nth-child(2) {
        border: 0 none;

        .testimonial__item{
    
            flex-direction: column;
        }
        /* border-block: solid 1px #9A9A9B; */
    }
    .impact__stats{
        gap: 0;
    }
    
    .testimonial-block {
    padding-top: 6rem;
}

.faq__items{
    order: 2;
}

.pilot__container{
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
}
.pilot__content {
    max-width: 100%;
}

.success-criteria__boxes {
    justify-content: center;
}

.success-criteria__boxes .box{
    width: auto;
}

.faq__container,
.cta__container{
    flex-direction: column;
}

.cta__container{
    gap: 2rem;
}

.footer .container{
    flex-wrap: wrap;
}

.footer__nav ul{
    gap: 0rem 2rem;
    flex-wrap: wrap;
}

.footer-top .container{
    flex-direction: column;
    flex-wrap: wrap;
    gap: 2rem;
}

.footer-top .container > *{
    width: 100%;
}

.footer-top .markets-list{
    flex-wrap: wrap;
    gap: 2rem;
}

.testimonial__item{
    flex-direction: column;
}

.slick-arrows-wrapper{
    top: 100%;
}

}

@media (max-width: 576px) {

    .cta .button {
        display: block;
    }

}
